<app-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebar>
<div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">

  <div class="m-auto col-md-8">
    <div class="jumbotron jumbotron-fluid modal-static sticky-top mb-0 bg-white">
      <h1 class="display-3">Monedas</h1>
      <hr class="my-2">
      <div class="container-fluid">
        <div class="col-md-12 d-flex flex-row-reverse mb-3">
          <button type="button"
                  class="btn btn-outline-secondary"
                  data-bs-toggle="modal" data-bs-target="#createCurrencyModal"
                  ><i class="bi bi-person-plus"></i>
            Registrar Moneda
          </button>
        </div>

        <div class="flex-row">
          <div class="col-md-12 col-sm-6 col-lg-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Moneda</th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Acciones</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let currency of dataCurrencies.data.currencies">
                  <td scope="row">{{ currency.id }}</td>
                  <td scope="row">{{ currency.name }}</td>
                  <td scope="row">{{ currency.rate }}</td>
                  <td scope="row">
                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#currencyModal">
                        <a (click)="showCurrenciesModal(currency.id)">
                          <i class="bi bi-eye"></i>
                        </a>
                      </button>
                      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editCurrencyModal">
                        <a (click)="setEditCurrenciesModal(currency.id)">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                      </button>
                      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deleteCurrencyModal">
                        <a (click)="deleteCurrenciesModal(currency.id, currency.name)">
                          <i class="bi bi-trash"></i>
                        </a>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="currencyModalLabel">Informacion del Moneda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Nombre de Moneda: {{ showCurrency.data.currency.name }}</p>
          <p>Tasa:             {{ showCurrency.data.currency.rate }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createCurrencyModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Registrar informacion del Moneda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="createCurrencyForm" (ngSubmit)="createCurrencyModal()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre de Moneda</label>
              <input
              formControlName="name"
              type="text"
              class="form-control"
              id="nameC">

              <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="text-danger">
                <div *ngIf="name.errors?.['minlength']">
                  El nombre debe tener mas de 3 caracteres
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                  El nombre debe tener menos de 45 caracteres
                </div>

              </div>
            </div>

            <div class="mb-3">
              <label for="rate" class="form-label">Tasa</label>
              <input
              formControlName="rate"
              type="number"
              class="form-control"
              id="rateC">
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editCurrencyModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Editar informacion del Moneda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="editCurrencyForm" (ngSubmit)="editCurrencyModal(showCurrency.data.currency.id)">
          <div class="modal-body">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre de Moneda</label>
              <input
              formControlName="name"
              type="text"
              class="form-control"
              id="nameE">

              <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="text-danger">
                <div *ngIf="name.errors?.['minlength']">
                  El nombre debe tener mas de 3 caracteres
                </div>
                <div *ngIf="name.errors?.['maxlength']">
                  El nombre debe tener menos de 45 caracteres
                </div>

              </div>
            </div>

            <div class="mb-3">
              <label for="rate" class="form-label">Tasa</label>
              <input
              formControlName="rate"
              type="number"
              class="form-control"
              id="rateE">

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteCurrencyModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Eliminar Moneda</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro que desea eliminar Moneda: {{nameDelete}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="delete(idDelete)" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
