<footer class="jumbotron mt-2">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus sodales velit, vel mollis sapien imperdiet eu. Etiam sodales gravida justo at consectetur. Morbi facilisis finibus finibus. Nulla vel sollicitudin nisi. Vestibulum euismod ex sed felis egestas venenatis. Suspendisse vitae metus tempor, accumsan arcu vitae, dignissim est. Fusce eu ultrices lorem.
          </p>
        </div>
      </div>
      <div class="text-center mb-2">
        <div class="text-center text-white">
          © 2023 Copyright: Rahisbel Herrera & Rebeca Martinez
        </div>
      </div>
    </div>
  </div>
</footer>
