<nav class="navbar navbar-expand-lg bgral">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/home">Sistema de Inventario</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button
      *ngIf="userLoginOn"
      type="submit"
      class=" flex justify-content-center btn btn-sm btn-light bg-transparent text-white"
      (click)="logout()"
      >
      <i class="fs-4 bi bi-person"></i><span>Cerrar Sesión</span>
    </button>
  </div>
</nav>
