header{
  background: url(https://media.istockphoto.com/id/1159801440/es/foto/gerente-de-empresario-que-utiliza-el-control-y-control-de-tabletas-para-los-trabajadores-con.jpg?s=2048x2048&w=is&k=20&c=CxW3BYQBKLB9bTmPKyy-uYNY7TO_YSxvxkqrfktG_lA=);
  border-radius: 0;
  margin-bottom: 0;
}

