<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }" *ngIf="userLoginOn">
  <div class="header">
    <h1 class="title">
      <span class="fs-5 d-none d-sm-inline">Menu</span>
    </h1>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content">
    <div class="link">
      <div class="content" [routerLink]="['/home']" [routerLinkActive]="'active'">
        <i class="fs-4 bi bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
      </div>
    </div>
    <div class="link with-children">
      <div class="content" [routerLink]="['/users']" [routerLinkActive]="'active'">
        <i class="fs-4 bi bi-person"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['#']" [routerLinkActive]="'active'">
        <i class="fs-4 bi bi-people"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['#']" [routerLinkActive]="'active'">
        <i class="fs-4 bi bi-coin"></i> <span class="ms-1 d-none d-sm-inline">Monedas</span>
      </div>
    </div>
    <div class="link">
      <div class="content" [routerLink]="['#']" [routerLinkActive]="'active'">
        <i class="fs-4 bi bi-tags"></i> <span class="ms-1 d-none d-sm-inline">Categorias</span>
      </div>
    </div>
    <div class="link" *ngIf="userLoginOn">
      <div>
        <button
          type="submit"
          class=" flex justify-content-center btn btn-sm btn-light bg-transparent"
          (click)="logout()"
          >
            <i class="fs-4 bi bi-person"></i><span>Cerrar Sesión</span>
        </button>
      </div>
    </div>

  </div>
</div>
