<div class="container-fluid rounded-start-3">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-body-tertiary">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink="/home" class="nav-link align-middle px-0" >
                        <i class="fs-4 bi bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                      </a>
                  </li>
                  <li>
                      <a class="nav-link px-0 align-middle" routerLink="/users" routerLinkActive="active-link">
                        <i class="fs-4 bi bi-person"></i> <span class="ms-1 d-none d-sm-inline">Usuarios</span>
                      </a>
                  </li>
                  <li>
                      <a class="nav-link px-0 align-middle"routerLink="#" routerLinkActive="active-link">
                          <i class="fs-4 bi bi-people"></i> <span class="ms-1 d-none d-sm-inline">Clientes</span></a>
                  </li>
                  <li>
                      <a class="nav-link px-0 align-middle" routerLink="#" routerLinkActive="active-link">
                        <i class="fs-4 bi bi-coin"></i> <span class="ms-1 d-none d-sm-inline">Monedas</span>
                      </a>
                  </li>
                  <li>
                      <a class="nav-link px-0 align-middle" routerLink="#" routerLinkActive="active-link">
                        <i class="fs-4 bi bi-tags"></i> <span class="ms-1 d-none d-sm-inline">Categorias</span>
                      </a>
                  </li>
              </ul>
              <hr>
          </div>
      </div>
      <div class="col py-3">
        <p>contenido de los otros componentes</p>

    </div>
  </div>
</div>
