<div class="m-auto d-flex justify-content-center p-5 mb-5">
  <div class="card w-50">
    <div class="card-header text-center">
      Inicio de sesion al sistema
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electronico</label>
          <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email">

          <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="text-danger">

            <div *ngIf="email.errors?.['required']">
              El email es requerido.
            </div>
            <div *ngIf="email.errors?.['email']">
              El email debe tener un formato valido
            </div>

          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          minlength="8">

          <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="text-danger">

            <div *ngIf="password.errors?.['required']">
              La contraseña es requerida.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              La contraseña debe tener minimo 8 caracteres.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">Iniciar Sesion</button>
      </form>
    </div>
  </div>
</div>

