<app-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded = !sidebarExpanded"></app-sidebar>
<div class="content" [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">

  <div class="m-auto col-md-8">
    <div class="jumbotron jumbotron-fluid modal-static sticky-top mb-0 bg-white">
      <h1 class="display-3">Tipo de Pago</h1>
      <hr class="my-2">
      <div class="container-fluid">
        <div class="col-md-12 d-flex flex-row-reverse mb-3">
          <button type="button"
                  class="btn btn-outline-secondary"
                  data-bs-toggle="modal" data-bs-target="#createPaymentModal"
                  ><i class="bi bi-person-plus"></i>
            Registrar Tipo de Pago
          </button>
        </div>

        <div class="flex-row">
          <div class="col-md-12 col-sm-6 col-lg-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Tipo de Pago</th>
                  <th scope="col">Acciones</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataPayments.data.paymentMethods">
                  <td scope="row">{{ item.id }}</td>
                  <td scope="row">{{ item.type }}</td>
                  <td scope="row">
                    <div class="d-flex justify-content-between">
                      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#paymentModal">
                        <a (click)="showPaymentsModal(item.id)">
                          <i class="bi bi-eye"></i>
                        </a>
                      </button>
                      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editPaymentModal">
                        <a (click)="setEditPaymentModal(item.id)">
                          <i class="bi bi-pencil-square"></i>
                        </a>
                      </button>
                      <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#deletePaymentModal">
                        <a (click)="deletePaymentsModal(item.id, item.type)">
                          <i class="bi bi-trash"></i>
                        </a>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="paymentModalLabel">Informacion del Tipo de pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Nombre de Pago:        {{ showPayments.data.paymentMethod.type }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createPaymentModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Registrar informacion del Tipo de Pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="createPaymentForm" (ngSubmit)="createPaymentModal()">
          <div class="modal-body">
            <div class="mb-3">
              <label for="type" class="form-label">Tipo de Pago</label>
              <input
              formControlName="type"
              type="text"
              class="form-control"
              id="typeC">

              <div *ngIf="type.invalid && (type.dirty || type.touched)"
                class="text-danger">
                <div *ngIf="type.errors?.['minlength']">
                  El nombre debe tener mas de 3 caracteres
                </div>
                <div *ngIf="type.errors?.['maxlength']">
                  El nombre debe tener menos de 45 caracteres
                </div>

              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editPaymentModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Editar informacion del Tipo de Pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="editPaymentForm" (ngSubmit)="editPaymentModal(showPayments.data.paymentMethod.id)">
          <div class="modal-body">
            <div class="mb-3">
              <label for="type" class="form-label">Nombre del Tipo de Pago</label>
              <input
              formControlName="type"
              type="text"
              class="form-control"
              id="typeE">

              <div *ngIf="type.invalid && (type.dirty || type.touched)"
                class="text-danger">
                <div *ngIf="type.errors?.['minlength']">
                  El nombre debe tener mas de 3 caracteres
                </div>
                <div *ngIf="type.errors?.['maxlength']">
                  El nombre debe tener menos de 45 caracteres
                </div>

              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deletePaymentModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteModalLabel">Eliminar Tipo de Pago</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Esta seguro que desea eliminar este tipo de pago: {{nameDelete}}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="delete(idDelete)" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
